@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Paytone+One&display=swap');
@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Francois+One|Josefin+Sans&display=swap');


h1, h2, h3, h4, h5, h6 {
  font-family: 'Francois One', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  width: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

:root {
  --main-bg-color: #121212;
  --semi-dark-gray: #1e1e1e;
  --semi-light-gray: #333;
  --main-text-color: #CCCCCC;
}